
    <section id="agents">
        <div class="container">
            <h2>Agents</h2>
            <p class="large-paragraph">Lorem ipsum dolor sit amet consectectur adipisicing elit. Laboriosam assumenda ea quo cupiditate facere deleniti fuga officia.</p>

            <div class="flex">
                <div class="card">
                    <img src="assets/images/person1.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="assets/images/person2.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="assets/images/person3.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="assets/images/person4.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="assets/images/person5.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="assets/images/person6.jpg" alt="Realtor 1" />
                    <h3>Harry Potter</h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>
        </div>
    </section>