<section id="testimonials">
        <div class="container">
            <h2>Testimonials</h2>
            <div id="testimonials-slider">
                <div>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="assets/images/person1.jpg" alt="Client 7" />
                        <p>Harry Potter</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="assets/images/person2.jpg" alt="Client 7" />
                        <p>Harry Potter</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="assets/images/person3.jpg" alt="Client 7" />
                        <p>Harry Potter</p>
                    </div>
                </div>
            </div>
        </div>
    </section>