
    <section id="the-best">
        <div class="container">
        <h2>About</h2>
        </div>
        <div class="flex container">
        

            <img src="assets/images/home4.jpg" alt="Property 1" />
            <div>
                <h2>'We Are the Best Real Estate Company'</h2>
                <p class="large-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit Quo suscipit omnis iste velit maxime.</p>
                <ul>
                    <li>Placeat maxime animi minus</li>
                    <li>Placeat maxime animi minus</li>
                    <li>Placeat maxime animi minus</li>
                    <li>Placeat maxime animi minus</li>
                    <li>Placeat maxime animi minus</li>
                </ul>
                <button class="rounded">Learn More</button>
            </div>
        </div>
    </section>